
*{  
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
}

::selection {
    background: rgba(184, 237, 226, 0.27); /* Verde com 50% de opacidade */
}

body{
    background: linear-gradient(111deg, rgba(0, 171, 146, 0.40) -5.47%, rgba(206, 255, 184, 0.21) 39.07%);
}

html{overflow-x: hidden;}
