
*{  
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
}

::selection {
    background: rgba(184, 237, 226, 0.27); /* Verde com 50% de opacidade */
}

body,.bgpadrao{
    background: linear-gradient(111deg, rgba(0, 171, 146, 0.40) -5.47%, rgba(206, 255, 184, 0.21) 39.07%);
    background-repeat: no-repeat;
}

html,body{overflow-x: hidden;}

input,textarea{box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.17) inset;border: none;outline:none;}

